header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

header h1 {
    font-size: clamp(1rem, 2vw, 2rem);
}

/* .pagination {
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
} */

/*
.filter-section {
    margin-bottom: 20px;
    display: none;
}
.filter-section input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 */